h1{
    font-size: 50px;
}

.input-all{
    display: flex;
}













@media screen and( max-width:600px) {
    .input-all{
        width: 400px;
        flex-direction: column;
       
    }
  
}